<div class="top-nav-bar">
  <div class="search-box">
    <i class="fa fa-bars" id="menu-btn" onclick="openmenu()"></i>
    <i class="fa fa-times" id="close-btn" onclick="closemenu()"></i>
     <img src={{data.brandIconUrl}} class="logo">
     <input type="text" class="form-control">
     <span class="input-group-text">
      <i class="fa fa-search" aria-hidden="true"></i>
     </span>
  </div>
  <div class="menu-bar">
     <ul>
      {{#each data.links}}
      <li><a href={{this.url}}>{{this.label}}</a></li>
      {{/each}}
     </ul>
  </div>
</div>
