<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <!--- Bootstrap CSS --->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <!-- Font Awesome CDN -->
  <script src="https://kit.fontawesome.com/d7fc6ade47.js" crossorigin="anonymous"></script>
  <title>WELCOME PAGE</title>
  <link rel="icon" type="image/png" href="/static/images/LOGO.png">
</head>
 {{>navbar}}
<body>

<section class="header">
<div class="side-menu" id="side-menu">
 <ul>
  <li>ON SALE<i class="fa fa-angle-right"></i></li>
  <li>TOPS<i class="fa fa-angle-right"></i>
   <ul>
    <li>JACKETS</li>
    <li>LONG COATS</li>
    <li>HOODIES</li>
    <li>SHIRTS</li>
    <li>T-SHIRTS</li>
  </ul>
  </li>
  <li>BOTTOMS<i class="fa fa-angle-right"></i>
   <ul>
    <li>JEANS</li>
    <li>CHINOS</li>
    <li>TROUSERS</li>
    <li>SHORTS</li>
  </ul>
  </li>
   <li>ACCESSORIES<i class="fa fa-angle-right"></i>
   <ul>
    <li>JEWELLERIES</li>
    <li>WATCHES</li>
    <li>UNDERGARMENTS</li>
    <li>WALLETS</li>
  </ul>
  </li>
     <li>PERFUMES<i class="fa fa-angle-right"></i></li>
 </ul> 
</div> 
<div class="slider">
<div id="slider" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#slider" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/images/DISPLAY 1.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>GET THE LOOK</h5>
        <p>SHOP OUR LATEST STYLES TODAY!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/images/DISPLAY 2.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>DON'T MISS OUT</h5>
        <p>LIMITED TIME ONLY SALE ITEMS</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/images/DISPLAY 3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>SHOP WITH PURPOSE</h5>
        <p>WITH OUR LATEST SUITS COLLECTION, STAND OUT FROM THE REST</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/images/DISPLAY 4.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>ELEVATE YOUR WARDROBE</h5>
        <p>SHOP OUR LATEST STYLES TODAY!</p>
      </div>
    </div>
  </div>
</div>
</div> 
</section>

<!---FEATURED-CATEGORIES--->
<section class="featured-categories">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="" alt="">
      </div>
    </div>
  </div>
</section>

  
<!-- JS popper -->
  <script>
    function openmenu()
    {
      document.getElementById("side-menu").style.display="block";
      document.getElementById("menu-btn").style.display="none";
      document.getElementById("close-btn").style.display="block";
    }
    function closemenu()
    {
      document.getElementById("side-menu").style.display="none";
      document.getElementById("menu-btn").style.display="block";
      document.getElementById("close-btn").style.display="none";
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>