@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.container-fluids
{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("CART.jpg");
        background-size: cover;
        background-position: center center;
}
:root{
    --text-clr: #4f4f4f;
}
p{
    color: #6c757d;
}
.a_collapse{
    text-decoration: none;
    color: var(--text-clr);
}
.a_collapse:hover{
    text-decoration: none;
    color: var(--text-clr);
}
.h2_cl{
    color: green;
    font-size: 1.5rem;
}
.main_cart{
    background: #fffbef;
    opacity: 0.9;
}
.right_side{
    background: #fffbef;
    opacity: 0.9;
}
.e_d{
    background: #fffbef;
    opacity: 0.9;
}
.card{
    background: #fffbef !important;
    opacity: 0.9;
}
.code_text::placeholder{
    color: green !important;
}
.code_text{
    color: red !important;
}
.card_cl{
    border: none;
}
.product_img img{
    min-width: 200px;
    max-height: 200px;
}
.product_name{
    color: black;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
}
.product_name_h2{
    color: green;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
}
.card-title p{
    font-size: 0.9rem;
    font-weight: 500;
}
.remove_wish p {
    font-size: 0.8rem;
    margin-bottom: 0;
    cursor: pointer;
}
.price_money h3 {
    font-size: 1rem;
    font-weight: 600;
}
.set_quantity {
    position: relative;
}
.set_quantity::after{
    content: '(Note, 1 piece)';
    width: auto;
    height: auto;
    text-align: center;
    position: absolute;
    font-size: 0.7rem;
    bottom: -20px;
    right: 2rem;
}
.page_link{
    line-height: 16px;
    width: 45px;
    font-size: 1rem;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffbef;
    color: green;
}
.page-item-li input{
    line-height: 22px;
    padding: 3px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.page_link:hover{
    text-decoration: none;
    color: red;
    outline: none !important;
}
.page_link:focus{
    box-shadow: none;
}
.price_indiv p {
    font-size: 1.1rem;
}
.fa-heart{
    color: green;
}
.fa-heart:hover{
    color: red;
}
.fa-trash-alt{
    color: green;
}
.fa-trash-alt:hover{
    color: red;
}
.btn-success:hover{
    background-color: #d70101 !important;
    border-color: #d70101 !important;
}
